*{
	padding: 0;
	margin: 0;
	}
body{
	background: #ffcc67;
	}
ul,ol {
	list-style: none;
	}
img {
	border: none;
	vertical-align: middle;
	}
a {
	text-decoration: none;
	color: #232323;
	}
h1,h2,h3,h4{
	font-weight: initial;
	}
/* 首页 */
.zwjs{
width: 980px;
margin: auto;
}
.nav{
height: 50px;
background: #f1b88d;
text-align: center;
line-height: 50px;
border-top:1px solid#f1b88d;
border-bottom:1px solid#f1b88d;
}
.nav ul li{float: left;
width: 120px;
margin: 0 10px;
}
.nav ul li:hover{
background: #FFFFFF;
color: #EF6F56;
}
.shaoxiact{
background: #FFFFFF;
box-sizing: border-box;
padding:0 20px 20px 20px;
border-left:1px solid#f1b88d;
border-right:1px solid#f1b88d;
}
.sxbt h2{
text-align: center;
line-height: 48px;
padding:15px 5px;
}
.gerenleft{
float: left;
margin-right: 20px;
}
.gerenright{
float: left;
margin-right: 20px;
width: 200px;
text-align: center;
border: 1px solid#f1b88d;
}
.gerenright h3{
line-height: 36px;
padding: 10px 0;
background: #f1b88d;
color: #FFFFFF;
}
.gerenright p{
line-height: 40px;
border-bottom: 1px dotted#f1b88d;
}
.gerenright1{float: left; 
width: 482px;
}
.gerenright1 h3{
line-height: 36px;
padding: 10px 0;
background: #f1b88d;
color: #FFFFFF;
text-align: center;
}
.gerenright1 p{
line-height: 27px;
text-indent: 2em;
border: 1px solid#f1b88d;
padding: 0 15px;
}
.gerenleft img{
width: 200px;
padding-top: 10px;
}
.aihao ul li{
float: left;
width: 210px;
text-align: center;
margin: 0 10px;
border: 1px solid#EF6F56;
background: #EF6F56;
color: #FFFFFF;
}
.aihao ul li img{
	width: 210px;
height: 220px;
}
.aihao ul li p{
	line-height: 36px;
	}
/* ouxiang */
.ouxiang{
	background: #FFFFFF;
	line-height: 48px;
	padding:15px 5px;
	font-size: 24px;
	}
.ouxiang h1{
	text-align: center;
	letter-spacing: 6px;
	}
.ouxiang ul{
	width: 800px;
	margin: auto;
	}
.ouxiang ul li{
	float: left;
	width: 246px;
	margin:20px 10px 10px 10px;
	}
.ouxiang ul li img{
	width: 246px;
	}
/* 我的家乡 */
.jiaxiang{
	background: #FFFFFF;
	box-sizing: border-box;
	padding:0 20px 20px 20px;
	}
.jiaxiangleft{
	float: left;
	width: 400px;
	margin-right: 20px;
	}
.jiaxiangleft img{
	width: 400px;
	height: 267px;
	}
.jiaxiangright{
	float: left;
	width: 520px;
	}
.jiaxiangright h3{
	width: 100px;
	background: #ef6f56;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	}
.jiaxiangright p{
	line-height: 28px;
	text-indent: 2em;
	padding: 10px 0;
	}
/* 我的学校 */
.xuexiao{
	background: #FFFFFF;
	box-sizing: border-box;
	padding:0 20px 20px 20px;
	}
.xuexiaotop h3{
	float: left;
	color: #684e19;
	font-size: 25px;
	line-height: 50px;
	margin: 34px 20px;
	}
.xuexiaotop{
	background: #e9e8e4;
	padding: 5px 85px;
	}
.xuexiaotop img{
	float: left;
	width: 120px;
	border-radius: 50%;
	}
.xiaoyun{
	float: right;
	padding-top: 8px;
	}
.xiaoyun p{
	line-height: 36px;
	color: #684e19;
	}
.xuexiaocen p{
	line-height: 28px;
	text-indent: 2em;
	padding: 10px 0;
	}
.xuexiaocen img{
	width: 100%;
	}
/* denglu */
.denglu{
	background: #E9E8E4;
	padding: 20px 0;
	}
.login{
	background: #FFFFFF;
	box-sizing: border-box;
	padding:20px 20px 20px 20px;
	width: 800px;
	margin: auto;
	}
.loginleft{
	float: left;
	}
.loginleft img{
	width: 300px;
	}
.loginright{
	float: left;
	width: 460px;
	text-align: center;
	}
.loginright h2{
	text-align: center;
    padding: 20px 0;
	}
.loginright input{
	margin: 15px 0;
	height: 35px;
	width: 300px;
	padding-left: 15px;
	}
.loginf {
	padding: 20px 71px;
	}
/* 电影 */
.zhuyan ul li{
	float: left;
	width: 166px;
	text-align: center;
	margin: 0 10px;
	border: 1px solid#EF6F56;
	background: #EF6F56;
	color: #FFFFFF;
	}
.zhuyan ul li img{
	width: 166px;
	height: 166px;
	}
.zhuyan ul li p{
	line-height: 36px;
	}
/* 旅游 */
.lvyou{
	background: #FFFFFF;
	box-sizing: border-box;
	padding:0 20px 20px 20px;
	}
.lvyou ul li{
	float: left;
	width: 290px;
	border: 1px solid#EF6F56;
	margin: 10px;
	text-align: center;
	height: 355px;
	}
.lvyou ul li img{
	width: 288px;
	height: 150px;
	}
.lvyou ul li h4{
	font-size: 16px;
	line-height: 32px;
	background: #EF6F56;
	color: #FFFFFF;
	}
.lvyou ul li p{
	line-height: 24px;
	text-indent: 2em;
	font-size: 13px;
	padding: 0 8px;
	}
/* dibu */
footer{
	background: #f1b88d;
	color: #FFFFFF;
	text-align: center;
	height: 55px;
	padding-top: 5px;
	}
footer p{
	line-height: 24px;
	}