<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CalculatorImpl" class="com.proxy.util.utilImpl.CalculatorImpl"></bean>

    <bean id="Calculator" class="com.proxy.util.Calculator" abstract="true">
        <property name="ss" ref="CalculatorImpl" ></property>
    </bean>

    <bean id="proxy" class="com.proxy.proxyCalculator">
        <property name=""></property>
    </bean>

</beans>