<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="book" class="com.meditation.pojo.books">

        <property name="id" value="1"></property>
        <property name="name" value="心灯"></property>
        <property name="author" value="赞赏"></property>

    </bean>

    <bean id="user" class="com.meditation.pojo.user">
        <property name="name" value="aaa"></property>
        <property name="age" value="dd"></property>
        <property name="hobby" value="zhuqiou"></property>
        <property name="book">
            <list>
                <bean class="com.meditation.pojo.books">
                    <property name="id" value="1"></property>
                    <property name="name" value="心灯"></property>
                    <property name="author" value="法师"></property>
                </bean>
            </list>
        </property>
    </bean>
    <!--<bean id="book" class="com.meditation.pojo.books">
        <constructor-arg name="id" value="1"></constructor-arg>
        <constructor-arg name="name" value="心灯"></constructor-arg>
        <constructor-arg name="author" value="法师"></constructor-arg>
    </bean>

    <bean id="user" class="com.meditation.pojo.user">
        <constructor-arg name="name" value="aa"></constructor-arg>
        <constructor-arg name="age"  value="aa"></constructor-arg>
        <constructor-arg name="hobby" value="aa"></constructor-arg>
        <constructor-arg name="book" ref="book">

        </constructor-arg>
    </bean>-->


</beans>