<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
        ">

    <bean name="book" class="com.meditation.pojo.books">
        <property name="name" value="aaa"/>
        <property name="author" value="搜索"/>
        <property name="id" value="1"/>
    </bean>
    <bean name="user" class="com.meditation.pojo.user">
        <property name="name" value="#{book.name}"></property>
        <property name="book" value="#{T(com.meditation.pojo.books(1,'李','3'))}"></property>
    </bean>

</beans>